.header {
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 24px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header_menu {
  align-self: center;
  line-height: 21.13px;
}

.header_links-list {
  display: flex;
  margin: 24px;
  gap: 32px;
} 

.header_links-list-item {
  list-style:circle;
  color:black;
}   

.header_links-list-item_no-bullit {
  list-style:none;
}

.header_link {
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header_link_active {
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.header_logo {
  width: 137px;
  height: 111px;
}

.address {
  align-self: center;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header_address {
  margin-right: 65px;
  justify-self: flex-end;
}

.address_link {
  text-decoration: none;
  border-bottom: 1px solid black;
} 

.h1_bold {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: calc(115/100*100%);
  letter-spacing: 0.3em;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  padding: 165px 50px 48px;
  color: #fff;
  text-transform: uppercase;
  background: url(../images/cover.jpg) center no-repeat;
  object-fit: cover;
}

.cover_title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover_description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 127px;
}

.cover_description-text {
  letter-spacing: 0.06px;
  word-spacing: 0.83em;
  color: #fff;
  padding-left: 25px;
  font-size: 22px;
  font-weight: 400;
}

.bet-button {
  padding: 12px 33px;
  border: 1px solid currentColor;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  font-size: 22px;
  font-weight: 400;
} 

.lots {
  position: relative;
  padding: 181px 20px 0;
}

.lots_heading {
  padding: 0 0 0 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px 0;
  list-style: none;
}

.lots_card-list-item {
  min-height: 560px;
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 51px 40px 40px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: underline;
  color:#fff;
  z-index: 1;
  text-transform: uppercase;
}

.card_text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color:#fff;
  z-index: 1;
  margin-bottom: 8px;
}

.lots_look-more-link {
  padding: 0 0 0 40px;
  font-size: 20px;
  line-height: 24px;
  text-underline-offset: 4px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 184px 21px 0;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  background-color: black;
  border-radius: 50%;
}

.about_logo-image {
    width: 148px;
}

.about_title {
  grid-column: 2;
  width: 100%;
  padding-bottom: 75px;
  margin-top: 100px;
  margin-left: 25px;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.about_text {
  grid-column:2;
  font-size:20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 25px;
  width: 693px;
  letter-spacing: 0.2px;
} 

.footer {
  display:flex;
  justify-content: space-between;
  padding: 180px 50px 88px 50px;
  width: 100%;
}

.footer_menu {
  margin-left: 35px;
}

.footer_menu-list {
  list-style:none;
  text-align: center;
}

.footer_menu-list-item {
  font-weight: 400;
  font-size: 18px;
}

.footer_menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer_menu-link_active {
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 240px;
  justify-content: space-between;
}

.footer_social-list-item {
  display: flex;
  list-style: none;
}

.footer_social-link {
  cursor: pointer;
}

.footer_social-icon {
  height: 48px;
  width: 48px;
}

.aligned-text {
  letter-spacing: 0.3em;
}

.aligned-text_center {
  margin-top: 15px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 5px;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}